#cloud-config
hostname: {{ hostvars[vm].local_hostname }}
fqdn: {{ hostvars[vm].local_hostname }}.{{ hostvars[vm].domain }}
manage_etc_hosts: true

users:
  - name: {{ hostvars[vm].ansible_user }}
    groups: [sudo]
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - "{{ lookup('file', ssh_key) | trim }}"

